<h2><%= @session.title %></h2>
<p><%=  @session.description %></p>
<p><%=  @session.available_places %></p>

      <%= simple_form_for [@session, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "See all sessions", sessions_path %>
