<h1>New Reservation</h1>

  <p>Available Places: <%= @lecture.available_places %></p>
  <%= simple_form_for @reservation, url: lecture_reservations_path(@lecture), method: :post do |f| %>
    <%= f.input :location %>
    <%= f.submit 'Create Reservation' %>
  <% end %>

<%= link_to 'Back to lectures', lectures_path %>
