<h1>New Reservation</h1>

  <p>Available Places: <%= @session.available_places %></p>
  <%= simple_form_for @reservation, url: session_reservations_path(@session), method: :post do |f| %>
    <%= f.input :location %>
    <%= f.submit 'Create Reservation' %>
  <% end %>

<%= link_to 'Back to Sessions', sessions_path %>
