<h1>New Review</h1>

<%= form_with(model: [@session, @review], url: session_reviews_path(@session), method: :post) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.label :rating %>
  <%= f.number_field :rating %>

  <%= f.submit 'Create Review' %>
<% end %>

<%= link_to 'Back to Session', session_path(@session) %>
