<h1>New Review</h1>

<%= form_with(model: [@lecture, @review], url: lecture_reviews_path(@lecture), method: :post) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.label :rating %>
  <%= f.number_field :rating %>

  <%= f.submit 'Create Review' %>
<% end %>

<%= link_to 'Back to lecture', lecture_path(@lecture) %>
